<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang=="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Project page</title>
</head>
<body>
<header th:insert="_head.html"></header>
<div class="container" style="max-width: 1200px;width: 1000px;margin-top: 50px">
    <div class="row table-bordered">
        <div class="col-sm-8" style="border-right-color: black">
            <form th:action="@{|/project/${project.id}/update|}" th:method="post" th:object="${updateProject}">
                <p class="text-center" th:text="|Progect ID: ${project.id}|"></p>
                <p class="text-center" th:text="|Create Time: ${project.creatTime}|"></p>
                <!--                <div th:if="${project.get().projectStatus.COMPLETED}">-->
                <!--                    <p class="text-center" th:text="${project.get().endTime}"></p>-->
                <!--                </div>-->
                <input type="hidden" name="creatTime" th:value="${project.creatTime}">
                <!--                <input type="hidden" name="users" th:value="${project.users}">-->


                <div class="mb-3">
                    <label for="project-title-label" class="form-label">Title</label>
                    <input type="text" class="form-control" id="project-title-label" name="title"
                           th:value="${project.title}">
                    <!--                    <p th:errors="*{title}" style="color: red"></p>-->
                </div>
                <div class="mb-3">
                    <label for="project-shortName-label" class="form-label">Shortname</label>
                    <input type="text" class="form-control" id="project-shortName-label" name="shortName"
                           th:value="${project.shortName}">
                    <!--                    <p th:errors="*{shortName}" style="color: red"></p>-->
                </div>
                <div class="col-md-4">
                    <label for="project-projectStatus-label" class="form-label">Project Status</label>
                    <select id="project-projectStatus-label" class="form-select" name="projectStatus">
                        <tr th:each="st: ${projectStatus}">
                            <option th:text="${st.getIteam()}" th:value="${st}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="project-description-label" class="form-label">Description</label>
                    <input type="text" class="form-control" id="project-description-label" name="description"
                           th:value="${project.description}">
                    <!--                    <p th:errors="*{description}" style="color: red"></p>-->
                </div>
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">

                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <div class="col-12">
                            <button type="submit" class="btn btn-secondary btn-sm">Update</button>
                        </div>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <form th:action="@{|/project/all|}" method="get">
                            <div class="col-12">
                                <button type="submit" class="btn btn-secondary btn-sm">Back</button>
                            </div>
                        </form>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <form th:action="@{/home}" method="get">
                            <div class="col-12">
                                <button type="submit" class="btn btn-secondary btn-sm">Home</button>
                            </div>
                        </form>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-sm-4">
            <p class="text-center"> USERS PROJECT</p>
            <table class="table">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Surname</td>
                </tr>
                </thead>
                <tr th:each="u:${project.getUsers()}">
                    <td th:text="${u.name}"></td>
                    <td th:text="${u.surname}"></td>
                    <td>
                        <form th:action="@{|/project/deleteUser/${project.id}|}" method="post">
                            <div class="col-12">
                                <input type="hidden" name="login" th:value="${u.login}">
                                <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
            <p class="text-center"> ADD USER IN PROJECT</p>
            <form th:action="@{|/project/addUser/${project.id}|}" method="post">
                <div class="mb-3">
                    <label for="project-login-label" class="form-label">User Login</label>
                    <input type="text" class="form-control" id="project-login-label" name="login">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-secondary btn-sm">Add User</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>