<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Find User View</title>
</head>
<body>
<header th:insert="_head.html"></header>
<div class="container" style="max-width: 800px;width: 1000px;margin-top: 50px">
    <form th:action="@{/find}" method="post">
        <h5>Find User</h5>
        <div class="col-md-12">
            <label for="user-login-label" class="form-label">Login</label>
            <input type="text" class="form-control" id="user-login-label" name="login">
        </div>
        <button type="submit" class="btn btn-secondary btn-sm" style="margin-top: 20px">Find</button>
    </form>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>