<!DOCTYPE html>
<html ng-app="app" ng-controller="taskController">
<head>
    <title>Registration Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="logic.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Задача</h2>
<div>
    <table>
        <tbody>
        <tr>
            <td>Title</td>
            <td><input type="text" ng-model="title"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" ng-model="description"></td>
        </tr>
        <tr>
            <td>DeadLine</td>
            <td><input type="date" ng-model="deadLine"></td>
        </tr>
        <tr>
            <td>LeaderId</td>
            <td><input type="number" ng-model="leaderId"></td>
        </tr>
        <tr>
            <td>Priority</td>
            <td><select>
                <option ng-repeat="p in priorityList">{{p}}</option>
            </select></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><select>
                <option ng-repeat="s in statusList">{{s}}</option>
            </select></td>
        </tr>
        <tr>
            <td>isArchived</td>
            <td><input type="checkbox" ng-model="isArchived"></td>
        </tr>
        <tr>
            <td>isVisible</td>
            <td><input type="checkbox" ng-model="isVisible"></td>
        </tr>
        </tbody>
    </table>

    <!--<tr><td>Status</td><td>{{status}}</td></tr>
    <tr><td>CreatedAt</td><td>{{createdAt}}</td></tr>
    <tr><td>UpdatedAt</td><td>{{updatedAt}}</td></tr>
    <tr><td>Project</td><td>{{project}}</td></tr>-->

    <h3>Проект</h3>
    <div class="slow_window">
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <tbody>
            <tr ng-repeat="p in projectList">
                <td><input type="radio" name="project" value="p.id" ng-click="select(p)"></td><td>{{p.title}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <input type="file" id="file" name="file" multiple
           onchange="angular.element(this).scope().getFileDetails(this)" />

    <!--<input type="button" ng-click="uploadFiles()" value="Upload" />

    <p><progress id="pro" value="0"></progress></p>-->

    <button class="btn btn-dark" ng-click="save()">Сохранить</button>
</div>
</body>
</html>